body {background-image: url(bg.jpg);
	background-size: cover;
}

img {
	 width: 250px; 
	 height:200px;
}

p {
	  text-align: justify;
	  font-family: helvetica;
	  font-size: 14px;
	  text-indent: 50px;
	  border: dashed purple 2px;
}

table {
	margin-top :20px;
	margin-bottom: 20px;
}

td {
	text-indent: 5px;
}

nav ul li{
	border: 0.2px solid #ffb6ff;
	color: #dbb6ff;
	background-color: #ffb6ff;
	border-radius: 5px;
}

nav ul li a {
	color: #0d0d0d;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
}


.header {
	background: url(bg.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
	position: relative;
}

.welcometxt {
	position: absolute;
	width: 600px;
	margin: 12% 30%;
	text-align: center;
}

.welcometxt h1{
	color: #ffb6da;
	text-shadow: 1px 1px 5px black;
	font-family: 'Pacifico', cursive;
}

.welcometxt h3{
	color: #0d0d0d;
	font-size: 12px;
	margin-top: 30px;
	font-family: 'Pacifico', cursive;
}

.welcometxt a {
	border: 1px solid #fff;
	padding: 10px 25px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	margin-top: 20px;
	display: inline-block;
	color: #ffff;
}
