body {background-color: lightgray
}

h1 {
	font-family: arial;
	font-size: 25px;
	text-align: center;
	color:black;
	border: solid purple 2px;
	text-shadow: 2px 2px 10px purple;
}

h3 {
	  font-family: ui-serif;
	  font-size: 22px;
	  color: black;
	  border: none purple 2px;
	  text-shadow: 2px 2px 10px purple;
} 

img {
	 width: 250px; 
	 height:200px;
}

p {
	  text-align: justify;
	  font-family: helvetica;
	  font-size: 14px;
	  text-indent: 50px;
	  border: dashed purple 2px;
}
